/* Base Styles */

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 175%;
}
p {
  /* border: 1px solid black; */
  width: 90%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  margin-top: 30px;
  color: #ffffff;
}

.row {
  position: relative;
  width: 100%;
}

.sectitle {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  width: 80px;
  border: 1px solid black;
  margin-top: 0px;
  text-align: center;
  color: black;
  font-size: 125%;
}

#sec1 {
  /* background-color: #a52a2a; */
  position: relative;
  border: 1px solid black;
}

#title1 {
  background-color: beige;
}

#sec2 {
  /* background-color: #deb887; */
  position: relative;
  border: 1px solid black;
}

#title2 {
  background-color: pink;
}

#sec3 {
  /* background-color: teal; */
  position: relative;
  border: 1px solid black;
}

#title3 {
  background-color: orangered;
}

/* desktop mode*/
@media (min-width: 992px) {
  .col-d-1,
  .col-d-2,
  .col-d-3,
  .col-d-4,
  .col-d-5,
  .col-d-6,
  .col-d-7,
  .col-d-8,
  .col-d-9,
  .col-d-10,
  .col-d-11,
  .col-d-12 {
    float: left;
    margin: 0.5%;
    background-color: gray;
    /* margin: 2px; */
  }
  .col-d-1 {
    width: 8.33%;
  }

  .col-d-2 {
    width: 16.66%;
  }

  .col-d-3 {
    width: 25%;
  }

  .col-d-4 {
    width: 32.33%;
  }

  .col-d-5 {
    width: 41.66%;
  }

  .col-d-6 {
    width: 50%;
  }

  .col-d-7 {
    width: 58.33%;
  }

  .col-d-8 {
    width: 66.66%;
  }

  .col-d-9 {
    width: 74.99%;
  }

  .col-d-10 {
    width: 83.33%;
  }

  .col-d-11 {
    width: 91.66%;
  }

  .col-d-12 {
    width: 100%;
  }
}

/* tablet view */
@media (min-width: 768px) and (max-width: 991px) {
  .col-t-1,
  .col-t-2,
  .col-t-3,
  .col-t-4,
  .col-t-5,
  .col-t-6,
  .col-t-7,
  .col-t-8,
  .col-t-9,
  .col-t-10,
  .col-t-11,
  .col-t-12 {
    float: left;
    margin: 0.2%;
    background-color: gray;
    /* margin: 2px; */
  }
  .col-t-1 {
    width: 8.33%;
  }

  .col-t-2 {
    width: 16.66%;
  }

  .col-t-3 {
    width: 25%;
  }

  .col-t-4 {
    width: 33.33%;
  }

  .col-t-5 {
    width: 41.66%;
  }

  .col-t-6 {
    width: 49.5%;
  }

  .col-t-7 {
    width: 58.33%;
  }

  .col-t-8 {
    width: 66.66%;
  }

  .col-t-9 {
    width: 74.99%;
  }

  .col-t-10 {
    width: 83.33%;
  }

  .col-t-11 {
    width: 91.66%;
  }

  .col-t-12 {
    width: 100%;
  }
}

/* mobile view*/
@media (max-width: 767px) {
  .col-m-1,
  .col-m-2,
  .col-m-3,
  .col-m-4,
  .col-m-5,
  .col-m-6,
  .col-m-7,
  .col-m-8,
  .col-m-9,
  .col-m-10,
  .col-m-11,
  .col-m-12 {
    /* margin: 2px; */
    margin: 0.5%;
    background-color: gray;
  }
  .col-m-1 {
    width: 8.33%;
  }

  .col-m-2 {
    width: 16.66%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-4 {
    width: 33.33%;
  }

  .col-m-5 {
    width: 41.66%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-7 {
    width: 58.33%;
  }

  .col-m-8 {
    width: 66.66%;
  }

  .col-m-9 {
    width: 74.99%;
  }

  .col-m-10 {
    width: 83.33%;
  }

  .col-m-11 {
    width: 91.66%;
  }

  .col-m-12 {
    width: 100%;
  }
}
